<html>

<body>
    <h2> Create User</h2>
    <form method="post" action="AddUser">
        <input type="text" name="UserName" placeholder="Username">
        <input type="Password" name="Password" placeholder="password">
        <input type="email" name="Email" placeholder="email">
        <input type="number" name="Phone" placeholder="phone no">
        <select name="IsActive">
            <option value=true>Available</option>
            <option value=false>Not Available</option>
        </select>
        <input type="date" name="CreatedDate" placeholder="Creation Date">
        <input type="number" name="CreatedBy" placeholder="Created by">
        @* <input type="text" name="ModifiedDate"> *@
        @* <input type="text" name="ModifiedBy"> *@

        <button type="submit">Create</button>

    </form>

</body>

</html>