<html >
    <head><title>
Landing PAge
    </title>
    <link href="~/css/indexofhome.css" rel="stylesheet" />
    <link href="~/css/indexofhome.css" rel="stylesheet" />
</head>
    <body>
        <div id="section">
    <div id="leftsection">
        <ul>
            <li> <a href="#">Books</a> </li>
            <li><a href="">User</a> </li>
            <li><a href="#">Author</a> </li>
            <li><a href="#"> Issue </a> </li>
            <li><a href="#">Help</a> </li>
            <li><a href="#">about us</a>  </li>

        </ul>
    </div>

    <div id="rightsection">
       <div class="one">

        <div class="boxon" style="background-color:rgb(238, 188, 130)"><a asp-controller="Book" asp-action="Create"> Add Book</a></div>
        <div class="boxon" style="background-color:rgb(238, 188, 130)"><a asp-controller="Book" asp-action="Update">update Book</a></div>
        <div class="boxon" style="background-color:rgb(238, 188, 130)"><a asp-controller="Book" asp-action="All Users">Available Books</a></div>
        <div class="boxon" style="background-color:rgb(238, 188, 130)"><a asp-controller="Book" asp-action="Delete">Delete Books</a></div>
            </div>
            <br />
            <div class="one">

                <div class="boxon" style="background-color:rgb(233, 238, 130)"><a asp-controller="Home" asp-action="Login">Create User</a></div>
                <div class="boxon" style="background-color:rgb(233, 238, 130)"><a asp-controller="Home" asp-action="Login">update User</a></div>
                <div class="boxon" style="background-color:rgb(233, 238, 130)"><a asp-controller="Home" asp-action="Login">User list</a></div>
                <div class="boxon" style="background-color:rgb(233, 238, 130)"><a asp-controller="Home" asp-action="Login">remove User</a></div>
            </div>
            <br />
            <div class="one">

                <div class="boxon" style="background-color:rgb(130, 166, 238)"><a asp-controller="Home" asp-action="Login">Available Books</a></div>
                <div class="boxon" style="background-color:rgb(130, 166, 238)"><a asp-controller="Home" asp-action="Login">IssuedBooks</a></div>
                <div class="boxon" style="background-color:rgb(130, 166, 238)"><a asp-controller="Home" asp-action="Login">upcoming Books</a></div>
                <div class="boxon" style="background-color:rgb(130, 166, 238)"><a asp-controller="Home" asp-action="Login">upcoming feature</a></div>
            </div>
            <br />
            @* <div class="one">

                <div class="boxon" style="background-color:blue"><a asp-controller="Home" asp-action="Login">Home</a></div>
                <div class="boxon" style="background-color:blue"><a asp-controller="Home" asp-action="Login">Home</a></div>
                <div class="boxon" style="background-color:blue"><a asp-controller="Home" asp-action="Login">Home</a></div>
                <div class="boxon" style="background-color:blue"><a asp-controller="Home" asp-action="Login">Home</a></div>
            </div> *@
        </div>
    </div>
    </body>
</html>
 