<html >
    <head><title>
Landing PAge
    </title>
    <link href="~/css/indexofhome.css" rel="stylesheet" />
    <link href="~/css/indexofhome.css" rel="stylesheet" />
</head>
    <body>
        <div id="section">
    <div id="leftsection">
        <ul>
            <li> <a href="#">Books</a> </li>
            <li><a href="">User</a> </li>
            <li><a href="#">Author</a> </li>
            <li><a href="#"> Issue </a> </li>
            <li><a href="#">Help</a> </li>
            <li><a href="#">about us</a>  </li>

        </ul>
    </div>

    <div id="rightsection">
       <div class="one">

        <div class="boxon" style="background-color:violet"><a asp-controller="Book" asp-action="Create">Create</a></div>
        <div class="boxon" style="background-color:violet"><a asp-controller="Book" asp-action="Update">update</a></div>
        <div class="boxon" style="background-color:violet"><a asp-controller="Book" asp-action="All Users">Home</a></div>
        <div class="boxon" style="background-color:violet"><a asp-controller="Book" asp-action="Delete">Home</a></div>
            </div>
            <br />
            <div class="one">

                <div class="boxon" style="background-color:red"><a asp-controller="Home" asp-action="Login">Home</a></div>
                <div class="boxon" style="background-color:red"><a asp-controller="Home" asp-action="Login">Home</a></div>
                <div class="boxon" style="background-color:red"><a asp-controller="Home" asp-action="Login">Home</a></div>
                <div class="boxon" style="background-color:red"><a asp-controller="Home" asp-action="Login">Home</a></div>
            </div>
            <br />
            <div class="one">

                <div class="boxon" style="background-color:green"><a asp-controller="Home" asp-action="Login">Home</a></div>
                <div class="boxon" style="background-color:green"><a asp-controller="Home" asp-action="Login">Home</a></div>
                <div class="boxon" style="background-color:green"><a asp-controller="Home" asp-action="Login">Home</a></div>
                <div class="boxon" style="background-color:green"><a asp-controller="Home" asp-action="Login">Home</a></div>
            </div>
            <br />
            <div class="one">

                <div class="boxon" style="background-color:blue"><a asp-controller="Home" asp-action="Login">Home</a></div>
                <div class="boxon" style="background-color:blue"><a asp-controller="Home" asp-action="Login">Home</a></div>
                <div class="boxon" style="background-color:blue"><a asp-controller="Home" asp-action="Login">Home</a></div>
                <div class="boxon" style="background-color:blue"><a asp-controller="Home" asp-action="Login">Home</a></div>
            </div>
        </div>
    </div>
    </body>
</html>
 