@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color:mediumpurple">

<div class="text-center">
    <h1 class="display-4">Welcome @ViewData["Sucess"] </h1>
    <p>Creating website from scratch</p>
    <button> <a href="https://github.com/projectsbybalkrishna">Github</a></button>
    </div>
</body>
