@model LoginUser;
@{
    Layout = null;
}
<link href="~/css/login.css" rel="stylesheet" />
<h3 style="color:antiquewhite;"><i> @ViewData["Notsucess"]</i> </h3>
<h1 style="color:ghostwhite">Login</h1>
<div class="form">
   
<form action="" method="post">
           
            <input type="text" placeholder="Username"  asp-for="@Model.UserName" /><br />
            <input type="password" placeholder="Password" asp-for="@Model.Password"/><br />
            <button type="submit">submit</button>
        
        </form>

    </div>   

   