<h2>Hello User!</h2>
<br>
<h3>This part of the website is under development </h3>
<br>
<h4>Contact developer for <strong>query and feedback</strong> </h4>
<br>
here is the Contact info: <br>
<button class="btn btn-outline-secondary"> <a href="https://github.com/projectsbybalkrishna/">Github </a> </button>
<button class="btn btn-outline-primary"> <a href="https://linkedin.com/in/balkrishna-singh/"> Linked In </a> </button>
<button class="btn btn-outline-success"><a href="mailto:Kishansingh223311@gmail.com">Mail me</a> </button>

<footer style="bottom: auto;">
Kishansingh223311@gmail.com
</footer>