<html>
<link href="~/css/adduser.css" rel="stylesheet" />
    <body>
        <h1> New Book </h1>
    <h3 style="color:cornflowerblue">@ViewData["message"]</h3>

<form action="Create" method="post">
    <label >BookName</label>
<input type="text" name="Name" placeholder="BookName" required>
       <label >Author</label> <input type="text" name="author" placeholder="Author" required>
     <label >description</label>   <input type="text" name="description" placeholder="description" required>
        <label >price</label><input type="text" name="price" placeholder="price" required>
        <label >Available</label><select name="IsActive">
    <option value=true>Available book</option>
    <option value=false>Not Available </option>
</select>
<label >Category</label>
<select name="Category"> 
    
    <option value=0>ordinary</option>
    <option value=1>fictional</option>
    <option value=2>non-fictional</option>
    <option value=3>drama</option>
    <option value=4>mystery</option>
    <option value=5>other</option>
    <option value=6>horror</option>
        </select><br /><br />
<button type="submit" class="btn btn-outline-success">Create</button>
</form>


    </body>
</html>