@model Updatebooks
<form method="post">
<input type="text" name="Name" placeholder="Name" />
<input type="text" name="Price" value="Price" />
<input type="text" name="Author" value="Author" />
<input type="text" name="description" value="Description" />
    <button type="submit"> Update</button>
</form>