
table, tr {
    width: 100%;
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

   

tr:hover {
    border: 1px solid black;
    background-color: sandybrown;
    box-shadow: 1px 1px 1px 1px black;
}

