body {
    background-color: #ffffff;
    /* background: url('../images/sky01.jpg') no-repeat center fixed ; */
    font-family: cursive;
    background-size: cover;
}

.Page{
    display:flex;
    justify-content:space-between;
    
}

.form{
/*    background-color:white;*/
    width:100%;
    align-content:center;
    justify-content:center;
    color:black;
}

.form form{
    display: grid;
    margin: 0% 35% 0% 0%;
    /* margin: -111px 124px; */
}

.im{/* background-color:lightblue; 
    //* width: 50%; */
    padding:0% 13% ;
}