body {
    background-color: steelblue;
/*   display: grid;*/
    align-content: center;
/*    justify-content: center;*/
    font-family:cursive;
    margin:10% 20%;
}
.form {
    /*    display:grid;
  justify-content:center; */
   
    background-color: #c4fffd2b;
  
/*    margin: 10% 50%;*/
    padding: 5% 32%;
   
}

    .form form {
       
        display: grid;
        padding: 2% 11%;
    }


    .form form input{
        text-align:left;
        display: grid;
        padding: 7px 20px;
 }
        .form form input:hover {
            text-align: left;
            background-color:mediumseagreen;
            color:white;
            display: grid;
            padding: 7px 20px;
        }
    .form form button{
        background-color:lightslategrey;
        text-align :center; 
    }
    .form form button:hover{
        text-align :center; 
        background-color:mediumslateblue;
    }